
<title> <%= product.name %></title>
  <body>
    <%- include('./partials/Header', { isAuthenticated: auth }); %>
   <main class="single">
   
<!--     <div class="single login">
      <% if (!auth) { %> 
        <p>Fazer login:<a href="/login">Login</a></p>
        <%   }  %> 
    </div> -->


   <div class="header">
    <h1><%= product.name %> </h1>
    <p>createdAt: <%= product.createdAt %> </p>
    <p>Category: 
     <a href="/products/search/category?q=<%= product.category %>"> <%= product.category %></a>
    </p>
    <p>Price: <%= product.price %> </p>
   </div>
    <p><%- product.bodyContent %> </p>
    
   </main>

   <script></script>
   <%- include('./partials/Footer'); %>