
<title> <%= product.name %></title>
  <body>
    <%- include('./partials/Header', { isAuthenticated: auth }); %>
   <main class="single">
   
<!--     <div class="single login">
      <% if (!auth) { %> 
        <p>Fazer login:<a href="/login">Login</a></p>
        <%   }  %> 
    </div> -->


    <h1><%= product.name %> </h1>
    <p>createdAt: <%= product.createdAt %> </p>
    <p>Price: <%= product.price %> </p>
    <p>body: <%= product.bodyContent %> </p>
    <p>Category: <%= product.category %> </p>
    
   </main>

   <script></script>
   <%- include('./partials/Footer'); %>